<footer class="footer">
    <div class="wrap">
        <div class="row">
            <div class="col-2 footer__col-1">
                <img src="{{ theme.link }}/static/img/logo-sm.svg" alt="">
            </div>
            <div class="col-4 footer__col-2">
                +598 2518 3804 / 05 <br>
                Edificio Biotec oficina 10/19 <br>
                Calle Henry Ford y Madame Curie <br>
                Km 17.500 - Zonamerica <br>
                Montevideo - Uruguay <br>
            </div>
            <div class="col-6 footer__right">
                NEWLOOK by TOP TIME &copy; {{"now"|date('Y')}}
            </div>
        </div>
    </div>
</footer>
