.footer {
  padding: $padding-default 0;
  background-color: $color-main;
  color: $color-links;
  font-size: 12px;
  line-height: 13px;

  &__col-1{
      display: none;
      @media($desktop) {
          display: block;
      }
  }

  &__right {
    @media($desktop) {
      text-align: right;
    }
  }

}


.footer-abs{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: transparent;
  background-color: transparent;
  .footer{
    background: transparent;
    background-color: transparent;
  }
}
