.hero {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;

  @media($desktop) {
    height: 120px;
  }
}
